<a href="https://colab.research.google.com/github/olz54/examples/blob/master/Coding_test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

__SQL__

У вас есть таблица с полями id абонента (client_id), id базовой станции(bs_id),  время начала пребывания на базовой станции (start_time), время окончания пребывания на базовой станции(end_time). 

Типы полей: client_id int, bs_id int, start_time bigint, end_time bigint. Время задано в формате UNIX_TIMESTAMP.
Данные взяты за 1 сутки. В течение суток абонент может переключаться между базовыми станциями неограниченное число раз.

Напишите запрос на SQL, который считает суммарную продолжительность в секундах пребывания на всех базовых станциях, bs_id которых начинается с цифры 1 . Запрос должен возвращать client_id и колонку с продолжительностью.

In [0]:
#Ваш код здесь

__Python__

Переверните строку побуквенно

In [0]:
a = "Мама мыла раму"

In [0]:
#Ваш код здесь

Напишите функцию для расчета метрики MSE(среднеквадратическая ошибка) для 2 векторов

In [0]:
def mse(v1,v2):
  #Ваш код здесь


import numpy as np

a = np.array([1,2,3])
b = np.array([4,5,6])

mse(a,b)

Дан датасет "train.csv" с медицинскими характеристиками человека. 
Целевой признак Response (степень риска): целые числа от 1 до 8.

In [0]:
import pandas as pd
df = pd.read_csv('train.csv')
df.head()

   Id  Product_Info_1  ... Medical_Keyword_48  Response
0   2               1  ...                  0         8
1   5               1  ...                  0         4
2   6               1  ...                  0         8
3   7               1  ...                  0         8
4   8               1  ...                  0         8

[5 rows x 128 columns]


1) Считайте данные.
Есть ли пропуски в данных? Перечислите вещественные и целочисленные признаки, которые известны для всех объектов выборки.

2) Постройте гистограмму признака Product_info_4. Можно ли описать данные нормальным распределением? 

3) Для пары признаков вес и рост ['Wt', 'Ht'] отобразите scatter-график точек. Cделайте точки с labels разных цветов: синие - обычные наблюдения, у которых статистика z-score(функция для расчета статистики stats.zscore) по обоим признакам лежит в интервале [-3,3], красные - шум, z-score у признаков выходит за рамки интервала. Для построения графика можно воспользоваться командой axes[...].scatter(...).

In [0]:
#Ваш код здесь